*, ::before, ::after {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body {
    height: 100vh;
 padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-style  {
    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 0px auto;
    border: 2px solid midnightblue;
}

thead tr {
    background-color: midnightblue;
    color: #fff;
    text-align: left;
}

th, td {
    padding: 15px 20px;
    text-align: center;
}

tbody tr, td, th {
    border: 1px solid #ddd;
}

tbody tr:nth-child(even){
    background-color: #f3f3f3;
}

tbody tr:hover {
    background-color: #f1f1f1;
}
.retour {
    align: right;
    float:right;
    position:relative;
    display:inline-block;
    top: 1px;
    left: 800px;
    position:relative;
    display:inline-block;
    float:right;
 }
